body {
            margin: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background: #111;
            font-family: Arial, Helvetica, sans-serif;
        }

        .btn {
            border: none;
            padding: 1em;
            width: 100%;
            border-radius: 2px;
            position: relative;
            margin-bottom: 5px;
        }

        #wall {
            background: rgba(255, 255, 255, .9);
            padding: 1em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 4px;
            position: relative;
            width: 350px;
        }

        .playerName {
            width: 100%;
            margin-bottom: 1em;
        }

        .hidden {
            position: absolute !important;
            visibility: hidden;
            opacity: 0;
        }

        [v-cloak] {
            position: absolute !important;
            visibility: hidden;
            opacity: 0;
        }

        .wall__info {
            width: 100%;
        }

        canvas {
            position: absolute;
        }

        .scores {
            width: 100%;
        }
